<% layout("/common/_container.html"){ %>
<div class="container-fluid">
	<table class="layui-table" id="deptTable" lay-filter="deptTable"></table>
	
	<script type="text/html" id="deptToolbar">
	  <div class="layui-btn-container">
	    <button class="layui-btn layui-btn-sm" lay-event="reload"><i class="layui-icon layui-icon-search"></i></i>查询</button>
	    <% if(shiro.hasPermission("/rock/sys/dept/add")){ %>
	    <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>添加</button>
	    <% } %>
	  </div>
	</script>
	
	<script type="text/html" id="deptBar">
	 <% if(shiro.hasPermission("/rock/sys/dept/update")){ %>
	  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	  <% } %>
	  <% if(shiro.hasPermission("/rock/sys/dept/delete")){ %>
	  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	  <% } %>
	</script>
	<script src="${ctxPath}/view/rock/sys/dept/dept.js"></script>
</div>
<% } %>
