<div class="left" style="width: 15%; display: inline-block;">
	<ul class="nav nav-header" style="margin-bottom: 20px;">
		<li><img alt="image" class="img-circle" src="${ctxPath}/static/rock/img/boy.gif" width="64px" height="64px"></li>
		<li><span class="block m-t-xs" style="display: block; color: white;"> <strong class="font-bold">张三</strong>
		</span></li>
		<li><span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #8095a8;"> 超级管理员 <b class="caret"></b>
		</span>
			<ul class="dropdown-menu">
				<li><a class="J_menuItem" style="color: #676a6c;" href="${ctxPath}/mgr/user_info">个人资料</a></li>
				<li><a class="J_menuItem" href="${ctxPath}/mgr/user_info">个人资料</a></li>
				<li class="divider"></li>
				<li><a class="J_menuItem" href="${ctxPath}/mgr/user_info">退出</a></li>
			</ul></li>
	</ul>

	<ul class="nav menu" style="padding-left: 20px; padding-right: 20px">
		<li class="list-group-item parent"><a href="#" class="J_menuItem"> <i class="fa fa-user"></i> <label>系统管理</label> <span class="fa fa-angle-down float-right"></span>
		</a></li>
		<li class="list-group-item"><a href="#" class="J_menuItem" data-id="${ctxPath}/rock/sys/user" data-name="tab1"> <label>用户管理</label>
		</a></li>
		<li class="list-group-item"><a href="#" class="J_menuItem" data-id="https://www.baidu.com/" data-name="tab2"> <label>角色管理</label>
		</a></li>
		<li class="list-group-item"><a href="#" class="J_menuItem" data-id="${ctxPath}/rock/sys/authz" data-name="tab3"> <label>菜单管理</label>
		</a></li>
		<li class="list-group-item"><a href="#" class="J_menuItem"> <label>业务日志</label>
		</a></li>
		<li class="list-group-item"><a href="#" class="J_menuItem" data-id="${ctxPath}/rock/sys/dept" data-name="tab5"> <label>部门管理</label>
		</a></li>
		<li class="list-group-item"><a href="#" data-id="${ctxPath}/rock/sys/dict" data-name="tab4" class="J_menuItem"> <label>字典管理</label>
		</a></li>
		<li class="list-group-item"><a href="#" class="J_menuItem"> <label>登录管理</label>
		</a></li>
		<li class="list-group-item"><a href="#" class="J_menuItem"> <label>通知管理</label>
		</a></li>
		<li class="list-group-item">
			<ul class="nav menu">
				<li class="list-group-item"><a href="#" class="J_menuItem"> <label>系统管理</label> <span class="fa fa-angle-left float-right"></span>
				</a></li>
				<li class="list-group-item"><a href="#" class="J_menuItem"> <label>通知管理</label>
				</a></li>
				<li class="list-group-item"><a href="#" class="J_menuItem"> <label>通知管理</label>
				</a></li>
				<li class="list-group-item">
					<ul class="nav menu">
						<li class="list-group-item"><a href="#" class="J_menuItem"> <label>系统管理</label> <span class="fa fa-angle-left float-right"></span>
						</a></li>
						<li class="list-group-item"><a href="#" class="J_menuItem"> <label>通知管理</label>
						</a></li>
						<li class="list-group-item"><a href="#" class="J_menuItem"> <label>通知管理</label>
						</a></li>
					</ul>
				</li>

			</ul>
		</li>

	</ul>
	<ul class="nav menu" style="padding-left: 20px; padding-right: 20px">
		<li class="list-group-item"><a href="#" class="J_menuItem" data-id=""> <i class="fa fa-rocket"></i> <label>通知管理</label>
		</a></li>
	</ul>
</div>