	<div class="right-top" style="width: 85%">
		<div class="head">
			<button style="margin: 5px 1px 5px 20px; padding: 4px 12px;" type="button" class="btn btn-success">
				<i class="fa fa-bars"></i>
			</button>
			<h3 style="margin: 20px 5px 5px 1px; padding: 4px 5px; display: inline-block; font-weight: 600;">rock管理系统</h3>
		</div>
		<div class="page" id="page-div">
			<button type="button" class="tab-btn" name="page-btn" style="float: left;" id="left-backward-btn">
				<i class="fa fa-backward"></i>
			</button>
			<div class="page-tabs" style="float: left;" id="page-tabs">
				<a href="#" class="page-tab active" data-id="/rock/sys/notice/hello" data-name="notice-hello">通知</a>
			</div>


			<button type="button" class="tab-btn" name="page-btn" style="float: right;">
				<i class="fa fa-sign-out">退出</i>
			</button>
			<div class="btn-group" style="float: right;" name="page-btn">
				<button class="dropdown-toggle tab-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					关闭操作
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="#">定位当前选项卡</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="#">关闭全部选项卡</a>
					</li>
					<li>
						<a href="#">关闭其他选项卡</a>
					</li>
				</ul>
			</div>
			<button type="button" class="tab-btn" id="rigth-backward-btn" name="page-btn" style="float: right; border-left: 1px solid #e7eaec;">
				<i class="fa fa-forward"></i>
			</button>

		</div>
	</div>